.todosList__container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
}

.todosList__container::-webkit-scrollbar {
  background-color: transparent;
  width: 0.3rem;
}
